In [39]:
import numpy as np
import pandas as pd

In [69]:
snow = pd.read_csv("snowWaterEquivalentBC_Apr1.csv")
fraserStations = pd.read_csv("../snow/fraserStations.dat",skiprows=3).stations.values

shared = []
for f in fraserStations:
    if f in snow.Station.values.astype('str'):
        shared.append(f)

mask = []
for s in snow.Station.values.astype('str'):
    if s in shared:
        mask.append(True)
    else:
        mask.append(False)
mask = np.array(mask)


fraserData = snow[mask]

fraserData.Date=fraserData.Date.str.slice(start=0,stop=4)

fraserData=fraserData.rename(columns={'Station':'station','Date':'year','SnowWaterEqui(mm)':'swe', 
                                     'Latitude':'lat','Longitude':'lon','Elevation(m)':'ele'})

fraserData.to_csv('../snow/fraserBasinSnowData.csv',index=False)

/home/kp/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [70]:
fraserData

    station  year     swe        lat         lon   ele
57    1C12P  1994   889.0  50.783333 -122.916667  1766
58    1C12P  1995  1027.0  50.783333 -122.916667  1766
59    1C12P  1996   966.0  50.783333 -122.916667  1766
60    1C12P  1997  1021.0  50.783333 -122.916667  1766
61    1C12P  1998   850.0  50.783333 -122.916667  1766
..      ...   ...     ...        ...         ...   ...
972    1D16  2017  1626.0  49.316667 -122.066667  1147
973    1D16  2018  1913.0  49.316667 -122.066667  1147
974    1D16  2019   778.0  49.316667 -122.066667  1147
975    1D16  2020  1608.0  49.316667 -122.066667  1147
976    1D16  2021  2016.0  49.316667 -122.066667  1147

[591 rows x 6 columns]

In [64]:
fraserData

,Station,Date,SnowWaterEqui(mm),Latitude,Longitude,Elevation(m)
57,1C12P,1994-04-01,889.0,50.783333,-122.916667,1766
58,1C12P,1995-04-01,1027.0,50.783333,-122.916667,1766
59,1C12P,1996-04-01,966.0,50.783333,-122.916667,1766
60,1C12P,1997-04-01,1021.0,50.783333,-122.916667,1766
61,1C12P,1998-04-01,850.0,50.783333,-122.916667,1766
...,...,...,...,...,...,...
972,1D16,2017-04-01,1626.0,49.316667,-122.066667,1147
973,1D16,2018-04-01,1913.0,49.316667,-122.066667,1147
974,1D16,2019-04-01,778.0,49.316667,-122.066667,1147
975,1D16,2020-04-01,1608.0,49.316667,-122.066667,1147
976,1D16,2021-04-01,2016.0,49.316667,-122.066667,1147

<ipython-input-51-a1a0a96665a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraserData["year"] = years